* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* #1f1f1f     bg color*/
/* #e75b1e   font color */
/* #8dc63f modern green */
/* background-color: #1E69B8;  #fdcb03; */
